html, body {
    background-color: #fff6cb;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: inherit;
    color: #fff6cb;
    font-family: 'Bodoni MT';
}

h1 {
    width: 700px;
    margin-left: calc(50% - 350px);
    background-color: black;
    padding: 20px;
}

#content {
    width: 700px;
    margin-left: calc(50% - 350px);
}

#txtInput {
    border-radius: 5px;
    width: calc(100% + 20px);
    padding: 10px;
    resize: none;
    margin-bottom: 10px;
}

.numberTextBox {
    text-align: right;
}

.reciept {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    border: 1px solid black;
    width: 180px;
    margin: 10px;
    font-size: 12px;
    line-height: 0.5;
    background-color: white;
}

.address, .regnr, .endline, .tagline, .logo, .ruler {
    text-align: center;
}

.logo {
    font-size: 30px;
    font-family:'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.logo p {
    margin-bottom: 0;
    margin-top: 10px;
}

.tagline {
    font-size: 14px;
    font-family: 'Arial Narrow', 'Nimbus Sans L', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.tagline p {
    margin-top: 5px;
}

.output {
    line-height: 1.2;
}
.output div:nth-of-type(odd) {
    display: inline-block;
    width: 70px;
    margin-left: 3px;
    text-align: left;
}

.output div:nth-of-type(even) {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.errorMessage {
    display: inline-block;
    position: relative;
    width: 200px;
    line-height: 0;
}
.revAmount, .rfvAmount {
    position: absolute;
    display: inline;
    left: 0;
    top: -5px;
    color: red;
    font-weight: bold;
    margin-left: 5px;
}