html {
    height: 100%;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

footer, hgroup,
nav, section {
    display: block;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* Egen CSS */

footer {
    position: absolute;
    height: 5%;
    top: 95%;
}

#Content_pnlForm {
    top: 0 !important;
    position: absolute !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #3bc1bc;
    z-index: -10 !important;
}

#Content_imbHome2 {
    z-index: -10 !important;
    top: 85%;
    left: 90%;
}

#Content_imbSettings {
    top: 45%;
    left: 45%;
}
#Content_lblMeaning {
    position: absolute;
    left: 4%;
    top: 4%;
}

#Content_lblWordType {
    position: absolute;
    left: 41%;
    top: 4%;
}

#Content_lstMeaning {
    position: absolute;
    top: 9%;
    left: 4%;
    height: 30%;
    width: 32%;
}

#Content_lstItem {
    position: absolute;
    top: 55%;
    left: 4%;
    height: 14%;
    width: 32%;
}

#Content_lblItem {
    position: absolute;
    left: 4%;
    top: 50%;
}

#Content_lblWord {
    position: absolute;
    left: 41%;
    top: 16%;
}

#Content_txtWord {
    position: absolute;
    left: 41%;
    top: 21%;
}

#Content_lblWordComment {
    position: absolute;
    left: 41%;
    top: 28%;
}

#Content_txtWordComment {
    position: absolute;
    left: 41%;
    top: 33%;
}

#Content_btnUpdateMeaning {
    position: absolute;
    top: 9%;
    left: 76%;
    width: 15%;
}
#Content_btnAddNewMeaning {
    position: absolute;
    top: 25%;
    left: 76%;
    width: 15%;
}
#Content_btnDeleteMeaning {
    position: absolute;
    top: 33%;
    left: 76%;
    width: 15%;
}
#Content_btnResetMeaning {
    position: absolute;
    top: 17%;
    left: 76%;
    width: 15%;
}

#Content_pnlHorizontalRule {
    position: absolute;
    display: block;
    top: 44%;
    width: 100%;
    border-bottom : 2px inset #c7d1d6;
}

#Content_btnUpdateItem {
    position: absolute;
    top: 50%;
    left: 76%;
    width: 15%;
}
#Content_btnAddNewItem {
    position: absolute;
    top: 66%;
    left: 76%;
    width: 15%;
}
#Content_btnDeleteItem {
    position: absolute;
    top: 74%;
    left: 76%;
    width: 15%;
}
#Content_btnResetItem {
    position: absolute;
    top: 58%;
    left: 76%;
    width: 15%;
}


#Content_imgImage {
    position: absolute;
    left: 41%;
    top: 47%;
    height: 20%;
    width: 20%;
}

#Content_lstFileName {
    position: absolute;
    left: 41%;
    top: 68%;
    width: 30%;
    height: 27%;
}

header {
    display: inline-block;
}

#imgLogo {
    display: inline-block;
    height: 200px;
    width: 300px;
    overflow: visible;
    position: absolute;
    border-left: 10px double purple;
    top: 0;
    left: 0;
}

#Content_pnlTablet {
    position: relative;
    display: inline-block;
    width: 900px;
    height: 600px;
    background-image: url(Images/tablet-PD.svg);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 320px;
    margin-top: 10px;
    margin-bottom: 2px;
    padding-bottom: 8px;
}

#Content_pnlInnerTablet {
    position: relative;
    height: 70.5%;
    width: 71.8%;
    margin: 8.4% 14.1%;
    overflow: hidden;
}

#Content_ddlPageWordType {
    position: absolute;
    left: 41%;
    top: 9%;
}

#Content_ddlPosition {
    position: absolute;
    left: 4%;
    top: 71%;
    width: 20%;
}

#Content_ddlCategory {
    position: absolute;
    left: 4%;
    top: 78%;
    width: 20%;
}

#Content_chkIsCategory {
    position: absolute;
    left: 4%;
    top: 85%;
}

#Content_lblIsCategory {
    position: absolute;
    left: 7%;
    top: 85%;
}

#Content_ddlCategoryLink {
    position: absolute;
    left: 4%;
    top: 90%;
    width: 20%;
}

#Content_ddlCategoryLink:disabled {
    background-color: rgba(151, 228, 222, 0.5);
}

.item, .itemFull, #Content_ddlPageWordType, #Content_ddlCategory, #Content_ddlPosition, #Content_ddlCategoryLink {
    position: absolute;
    color: #000;
    border-radius: 0.3em;
    /*background-color: #CCC;*/
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.3)); /* Safari och iOS */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    text-align: center;
    text-decoration: none;
    /*    background-color:#d3efff;*/
}

    .item:hover, .item:focus {
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Safari och iOS */
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
    }


    .item:active {
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); /* Safari och iOS */
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    }
    /*ram runt kategori-bilder*/
    .item[CatId] {
        border: 3px inset #E0A82F !important;
        -moz-box-sizing: border-box  !important;
        -webkit-box-sizing: border-box  !important;
        box-sizing: border-box  !important;
    }

/*update panel of itemsunit*/
#Content_pnlInnerTablet > div {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: visible;
}

    #Content_pnlInnerTablet > div > .item {
        position: absolute;
        background-color: none;
    }

#Content_pnlInnerTablet > div > .item > img, #Content_pnlInnerTablet > div > .itemFull > img {
    width: 100%;
    height: 100%;
    z-index: 3;
}

#Content_pnlInnerTablet > div > .item > span, #Content_pnlInnerTablet > div > .itemFull > span {

    display: block;
    width: 100%;
    position: absolute;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    line-height: 1;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6)

}

#Content_pnlInnerTablet > div > .item > span {
    font-size: 0.8em;
    text-align: left;
    text-indent: 6%;
    z-index: 2;
}

#Content_pnlInnerTablet > div > .itemFull > span {
     font-size: 1.6em;
     text-align: center;
     top: 92%;
     z-index: 4;
 }

#dimmer {
    background:black;
    opacity:0.7;
    position:absolute;
    top:0;
    left:0;
    width:100% !important;
    height:100% !important;
    z-index: 2 !important;
}

.itemFull {
    position: absolute !important;
    height: 90% !important;
    width: 90% !important;
    left: 5% !important;
    top: 5% !important;
    z-index: 3 !important;
}

.navImbs {
    position: absolute;
    z-index: 5;
    height: 15%;
    width: 10%;
}

#Content_imbOK {
    left: 25%;
    top: 79%;
}

#Content_imbCancel {
    left: 65%;
    top: 79%;
}

#Content_imbLeft {
    left: 5%;
    top: 42.5%;
}

#Content_imbRight {
    left: 85%;
    top: 42.5%;
}

#Content_imbHome {
    left: 45%;
    top: 42.5%;
    z-index: 2;
}

#Content_imbInfo {
    left: 83.5%;
    top: 79%;
}

/*START: page-five-eight template*/
#Content_imbUnit1.page-five-eight {
    top: 1%;
    left: 1%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit2.page-five-eight {
    top: 1%;
    left: 19%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit3.page-five-eight {
    top: 1%;
    left: 41.5%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit4.page-five-eight {
    top: 1%;
    left: 64%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit5.page-five-eight {
    top: 1%;
    left: 82%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit6.page-five-eight {
    top: 55%;
    left: 1%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit7.page-five-eight {
    top: 55%;
    left: 24%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit8.page-five-eight {
    top: 55%;
    left: 55%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit9.page-five-eight {
    top: 55%;
    left: 78%;
    width: 21%;
    height: 21%;
}
#Content_imbUnit10.page-five-eight {
    top: 78%;
    left: 1%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit11.page-five-eight {
    top: 78%;
    left: 24%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit12.page-five-eight {
    top: 78%;
    left: 55%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit13.page-five-eight {
    top: 78%;
    left: 78%;
    width: 21%;
    height: 21%;
}
/*END: page-five-eight template*/

/*START: page-four-eight template*/
#Content_imbUnit1.page-four-eight {
    top: 1%;
    left: 1%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit2.page-four-eight {
    top: 1%;
    left: 24%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit3.page-four-eight {
    top: 1%;
    left: 55%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit4.page-four-eight {
    top: 1%;
    left: 78%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit5.page-four-eight {
    top: 55%;
    left: 1%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit6.page-four-eight {
    top: 55%;
    left: 24%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit7.page-four-eight {
    top: 55%;
    left: 55%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit8.page-four-eight {
    top: 55%;
    left: 78%;
    width: 21%;
    height: 21%;
}
#Content_imbUnit9.page-four-eight {
    top: 78%;
    left: 1%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit10.page-four-eight {
    top: 78%;
    left: 24%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit11.page-four-eight {
    top: 78%;
    left: 55%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit12.page-four-eight {
    top: 78%;
    left: 78%;
    width: 21%;
    height: 21%;
}
/*END: page-four-eight template*/

/*START: page-eight-four template*/
#Content_imbUnit1.page-eight-four {
    top: 1%;
    left: 1%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit2.page-eight-four {
    top: 1%;
    left: 24%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit3.page-eight-four {
    top: 1%;
    left: 55%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit4.page-eight-four {
    top: 1%;
    left: 78%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit5.page-eight-four {
    top: 24%;
    left: 1%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit6.page-eight-four {
    top: 24%;
    left: 24%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit7.page-eight-four {
    top: 24%;
    left: 55%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit8.page-eight-four {
    top: 24%;
    left: 78%;
    width: 21%;
    height: 21%;
}
#Content_imbUnit9.page-eight-four {
    top: 78%;
    left: 1%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit10.page-eight-four {
    top: 78%;
    left: 24%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit11.page-eight-four {
    top: 78%;
    left: 55%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit12.page-eight-four {
    top: 78%;
    left: 78%;
    width: 21%;
    height: 21%;
}
/*END: page-eight-four template*/

/*START: page-ten-four template*/
#Content_imbUnit1.page-ten-four {
    top: 1%;
    left: 1%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit2.page-ten-four {
    top: 1%;
    left: 19%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit3.page-ten-four {
    top: 1%;
    left: 41.5%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit4.page-ten-four {
    top: 1%;
    left: 64%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit5.page-ten-four {
    top: 1%;
    left: 82%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit6.page-ten-four {
    top: 19%;
    left: 1%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit7.page-ten-four {
    top: 19%;
    left: 19%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit8.page-ten-four {
    top: 19%;
    left: 41.5%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit9.page-ten-four {
    top: 19%;
    left: 64%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit10.page-ten-four {
    top: 19%;
    left: 82%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit11.page-ten-four {
    top: 78%;
    left: 1%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit12.page-ten-four {
    top: 78%;
    left: 24%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit13.page-ten-four {
    top: 78%;
    left: 55%;
    width: 21%;
    height: 21%;
}

#Content_imbUnit14.page-ten-four {
    top: 78%;
    left: 78%;
    width: 21%;
    height: 21%;
}

/*END: page-ten-four template*/

/*START: page-five-five template*/
#Content_imbUnit1.page-five-five {
    top: 1%;
    left: 1%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit2.page-five-five {
    top: 1%;
    left: 19%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit3.page-five-five {
    top: 1%;
    left: 41.5%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit4.page-five-five {
    top: 1%;
    left: 64%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit5.page-five-five {
    top: 1%;
    left: 82%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit6.page-five-five {
    top: 82%;
    left: 1%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit7.page-five-five {
    top: 82%;
    left: 19%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit8.page-five-five {
    top: 82%;
    left: 41.5%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit9.page-five-five {
    top: 82%;
    left: 64%;
    width: 17%;
    height: 17%;
}

#Content_imbUnit10.page-five-five {
    top: 82%;
    left: 82%;
    width: 17%;
    height: 17%;
}

/*END: page-five-five template*/

/*START: page-twelve-seven template*/
#Content_imbUnit1.page-twelve-seven {
    top: 1%;
    left: 1%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit2.page-twelve-seven {
    top: 1%;
    left: 17%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit3.page-twelve-seven {
    top: 1%;
    left: 34.5%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit4.page-twelve-seven {
    top: 1%;
    left: 50.5%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit5.page-twelve-seven {
    top: 1%;
    left: 68%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit6.page-twelve-seven {
    top: 1%;
    left: 84%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit7.page-twelve-seven {
    top: 17%;
    left: 1%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit8.page-twelve-seven {
    top: 17%;
    left: 17%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit9.page-twelve-seven {
    top: 17%;
    left: 34.5%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit10.page-twelve-seven {
    top: 17%;
    left: 50.5%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit11.page-twelve-seven {
    top: 17%;
    left: 68%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit12.page-twelve-seven {
    top: 17%;
    left: 84%;
    width: 15%;
    height: 15%;
}

#Content_imbUnit13.page-twelve-seven {
    top: 86%;
    left: 1%;
    width: 13%;
    height: 13%;
}

#Content_imbUnit14.page-twelve-seven {
    top: 86%;
    left: 15%;
    width: 13%;
    height: 13%;
}

#Content_imbUnit15.page-twelve-seven {
    top: 86%;
    left: 29.5%;
    width: 13%;
    height: 13%;
}

#Content_imbUnit16.page-twelve-seven {
    top: 86%;
    left: 43.5%;
    width: 13%;
    height: 13%;
}

#Content_imbUnit17.page-twelve-seven {
    top: 86%;
    left: 57.5%;
    width: 13%;
    height: 13%;
}

#Content_imbUnit18.page-twelve-seven {
    top: 86%;
    left: 72%;
    width: 13%;
    height: 13%;
}

#Content_imbUnit19.page-twelve-seven {
    top: 86%;
    left: 86%;
    width: 13%;
    height: 13%;
}

/*END: page-seven-twelve template*/